.lfg-banner__text-area, .lfg-footer__inner, .lfg-header__top, .lfg-header__bottom, .lfg-cards__inner,
.container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  width: 100%; }
  @media all and (max-width: 37.4375em) {
    .lfg-banner__text-area, .lfg-footer__inner, .lfg-header__top, .lfg-header__bottom, .lfg-cards__inner,
    .container {
      padding: 0 15px; } }

.lfg-banner__container, .lfg-footer, .lfg-header, .lfg-cards__container,
.container--full {
  display: block;
  margin: 0;
  max-width: none;
  padding: 0;
  width: 100%; }

.three-quarter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }
  .three-quarter-container:first-child {
    width: 73%; }
  .three-quarter-container:nth-child(2) {
    width: 23%; }
  @media all and (max-width: 56.1875em) {
    .three-quarter-container:first-child {
      width: 100%; }
    .three-quarter-container:nth-child(2) {
      width: 100%; } }

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  margin: 0; }

h1 {
  font-size: 48px;
  font-size: 3rem; }

h2 {
  font-size: 40px;
  font-size: 2.5rem; }

h3 {
  font-size: 32px;
  font-size: 2rem; }

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none; }

.button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 3px;
  display: block;
  font-weight: 600;
  margin: 0 auto;
  max-width: 300px;
  padding: 10px 20px;
  text-align: center;
  width: 100%; }

.button--primary {
  background-color: #004fb1;
  color: #fff; }
  .button--primary:hover {
    background-color: #0186c2; }

.button--secondary {
  background-color: #f58e29;
  color: #fff; }
  .button--secondary:hover {
    background-color: #F9BB7E; }

.lfg-banner__container {
  overflow: hidden;
  position: relative; }
  @media all and (max-width: 56.1875em) {
    .lfg-banner__container {
      height: 350px; } }

.lfg-banner__image {
  max-width: 100%;
  width: 100%; }
  @media all and (max-width: 56.1875em) {
    .lfg-banner__image {
      height: 350px;
      max-width: none;
      width: auto; } }

.lfg-banner__title {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0; }
  .lfg-banner__title span {
    font-size: 48px;
    font-size: 3rem; }

.lfg-banner__text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #000;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  color: #fff;
  padding: 35px 0 40px;
  text-align: center;
  width: calc(100% - 50px); }
  @media all and (max-width: 37.4375em) {
    .lfg-banner__text-area {
      width: calc(100% - 30px); } }

.lfg-footer {
  background: #fff; }
  .lfg-footer p,
  .lfg-footer a {
    color: #504b52;
    margin: 0; }

.lfg-footer__inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px; }

.lfg-header {
  background: #504b52;
  color: #fff;
  display: flex;
  flex-wrap: wrap; }

.lfg-header__top {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%; }

.lfg-header__left {
  display: flex; }

.lfg-header__title {
  display: inline-block;
  margin-left: 10px; }

.lfg-header__search-container {
  background: #fff;
  padding: 10px 10px 10px 35px;
  position: relative;
  width: 50%; }
  .lfg-header__search-container::before {
    background-image: url(/img/icons/search.png);
    background-size: contain;
    content: '';
    left: 10px;
    padding: 10px;
    position: absolute;
    top: 13px; }
  .lfg-header__search-container input {
    font-size: 20px;
    font-size: 1.25rem;
    border: none;
    width: 100%; }
    .lfg-header__search-container input:focus {
      outline: none; }

.lfg-header__right {
  display: flex;
  flex-wrap: nowrap;
  text-align: right; }

.lfg-header__twitter {
  width: 20px; }

.lfg-header__login {
  color: #fff;
  display: flex;
  margin-left: 10px; }
  .lfg-header__login img {
    margin-right: 3px;
    width: 20px; }
  .lfg-header__login:hover {
    text-decoration: underline; }

.lfg-cards__inner {
  padding-bottom: 20px;
  padding-top: 20px; }

.lfg-nav {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0; }
  .lfg-nav li {
    display: inline-block;
    margin-right: 20px; }
    .lfg-nav li:last-of-type {
      margin-right: 0; }
    .lfg-nav li.active a {
      color: #F9BB7E;
      text-decoration: underline; }
    .lfg-nav li:first-child a {
      padding-left: 0; }
    .lfg-nav li a {
      color: #f58e29;
      display: inline-block;
      padding: 8px 10px; }
      .lfg-nav li a:hover {
        color: #F9BB7E;
        text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */
